* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gotham Pro", sans-serif;
}

.header {
    margin-top: 27px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
}

.flex {
    display: flex;
}

.f-d-r {
    flex-direction: row;
}

.j-c-b {
    justify-content: space-between;
}

.j-c-s-a {
    justify-content: space-around;
}

.f-d-c {
    flex-direction: column;
}

.a-i-c {
    align-items: center;
}

.j-c-c {
    justify-content: center;
}

.menu {
    left: 0;
    top: 0;
    /*width: 100%;*/
    /*height:50px;*/
    text-align: center;
    vertical-align: middle;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
}

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 14px;
    color: #000000a1;
    padding: 5px;
}

li {
    float: left; /*Размещаем список горизонтально для реализации меню*/
    margin-right: 5px; /*Добавляем отступ у пунктов меню*/
    display: inline-block;
}

a:hover {
    background: #fff;
    color: #345;
}

.t-a {
    text-align: center;
}

.name {
    margin: 75px 15px 15px;
    font-size: xx-large;
}

.m-t-100 {
    margin-top: 100px;
}

.m-l-65 {
    margin-left: 65px;
}

.m-r-65 {
    margin-right: 65px;
}

.m-l-180 {
    margin-left: 180px;
}

.m-25 {
    margin: 25px;
}

.mb-50 {
    margin: 50px;
}

.m-50 {
    margin: 0 50px 0 50px;
}

.m-r-25 {
    margin-right: 25px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.button1 {
    margin: 20px;
    background-color: #248dff;
    border-radius: 10px;
    color: #fff;
    padding: 15px 70px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid;
}

.button2 {
    background-color: #fff;
    border-radius: 10px;
    color: #248dff;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border: 1px solid;
    text-decoration: none;
}

button:hover {
    background: #fff;
    color: #345;
}

.p-25 {
    padding: 25px;
}

.p-b-25{
    padding-bottom: 25px;
}

.color {
    color: #248dff;
}

.blue {
    background: #248DFF;
}

.fff {
    color: #fff;
}

.fff-b {
    background-color: #fff;
}

.about_name {
    margin: 5px;
    font-size: xxx-large;
}

.about-p {
    font-size: 14px;
    font-family: "Gotham Pro", serif;
}

.form {
    margin: 20px 300px 40px 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 32px 45px 32px;
    text-align: center;
}
.form1 {
    margin: 20px 300px 0 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 32px 45px 32px;
    text-align: center;
}
.b-1{
    border-bottom: 1px solid #e0d8cc;
}
.t-t-u{
    text-transform: uppercase;
}